<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OnlineShop - User Area</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../../../../css/custom.css">
    <script src="../../../../bower_components/angular/angular.js"></script>
</head>

<body ng-app="myApp" ng-controller="homeController">

    <div id="container">
        <div class="topsection">
            <div class="topleft">
                <span class="topbg">
                    <div class="sitelogo">
                        <p class="logo">OnlineShop</p>
                        <div class="search">
                            <input class="searchinput" type="text" placeholder="Search for products, brands and more"
                                ng-model="searchQuery">
                            <button class="searchicon cursor" ng-click="searchProduct(searchQuery)">Search</button>
                        </div>
                    </div>
                </span>
            </div>
            <div class="topright">
                <ul class="ulmenu">
                    <!-- <li class="toprightmenus"> <a ng-href="/account/login">Login & Signup</a> </li> -->
                    <li class="toprightmenus cart"><a ng-href="/viewCart">My Cart</a></li>
                </ul>
            </div>
        </div>
        <div id="nav">
            <ul class="navul">
                <li class="navmenu navmenulink" ng-repeat="menu in menusData.data" ng-mouseover="showSubMenus(menu)">{{menu.menu}}
                    <!-- <a class="navmenulink" ng-href="/mainmenu/{{menu.menu}}">{{menu.menu}}</a> -->
                </li>
            </ul>
            <div class="navsection">
                <div class="submenusection">
                    <div class="submenus">
                        <ul class="submenuul" ng-mouseleave="hideSubMenus()">
                            <li ng-repeat="submenu in submenus" ng-click="searchSubMenu(submenu)" ng-mouseover="showSubSubMenus(submenu)">
                                <a class="submenu" ng-href="/show/{{MainMenu}}/{{submenu.name}}">{{submenu.name}}</a>
                            </li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="loginSignup">
            <div id="login">
                <p class="login">Login Account</p>
                <form action="/account/login" method="POST" novalidate>
                    <% if(loginErrMsg.length){ %>
                        <p class="errMsg">
                            <%= loginErrMsg[0].msg %>
                        </p>
                    <% } %>
                    <table>
                        <tr>
                            <td>
                                <label class="label" for="email">Email address</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="input  <% if(oldEmail){ %> redInput <% } else{ %> <% } %>" type="email" name="email" value="<% if(oldEmail){ %> <%= oldEmail %> <% } %>" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="label" for="password">Password</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="input last_input <% if(oldPassword){ %> redInput <% } else{ %> <% } %>" type="password" name="password"
                                    required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="button" ng-click="loginAccount()">Login</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Don't have an account! <a class="registerNow" ng-href="/account/signup">Register
                                        Now</a>
                                </p>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>


    <script src="../../../../js/app.js"></script>
    <script src="../../../../js/routes.js"></script>
    <script src="../../../../js/controllers/homeController.js"></script>
    <script src="../../../../js/models/homeFactory.js"></script>
    <script src="../../../../js/controllers/productController.js"></script>
    <script src="../../../../js/models/productFactory.js"></script>
    <script src="../../../../js/controllers/viewProductController.js"></script>
    <script src="../../../../js/models/viewProductFactory.js"></script>
    <script src="../../../../js/controllers/viewProductController.js"></script>
    <script src="../../../../js/models/viewProductFactory.js"></script>
    <script src="../../../../js/controllers/loginController.js"></script>
    <script src="../../../../js/models/loginFactory.js"></script>


</body>

</html>